---
import Close from "~/icons/Close.astro";

const { idName,  name, background, size, width, margin, tamaño } = Astro.props;
const id = name.toLowerCase().replace(/\s+/g, "-");
---

<dialog id={id} data-modal-id={id} class="modal w-full h-full">
  <section class=`modal-box ${width} rounded-none `>
    <header class="flex justify-between items-center mb-4">
      <h2
        class="flex justify-center items-center gap-2 text-2xl font-bold text-center text-base-content"
      >
        <slot name="icon"  />
        {name}
      </h2>
    <button
      onclick=`${id}.close()`
      data-modal-close
      class="btn btn-sm btn-circle btn-ghost "
    >
      <Close />
    </button>
    </header>
    <div class="card-body w-full mx-auto">
      <slot />
    </div>
  </section>
  <form method="dialog" class="modal-backdrop w-full">
  <button>close</button>
</form>

</dialog>

<figure
  onclick=`${id}.showModal()`
  class=`modal-btn cursor-pointer ${margin}`
>
  <img src={background} alt={name} class={size} />
  <figcaption
    class=`text-base text-white mix-blend-difference outline-pink-500  text-center font-light ${tamaño}`
  >
    {name}
  </figcaption>
</figure>
