---
import Background from "~/icons/background.astro";
import { fondo } from "@cv";
import Modal from "../shared/Modal.astro";
---

<Modal
  idName="Fondos"
  name="Fondos"
  background="/sprite.svg#fondo"
 width="bg-transparent w-full h-full max-w-none md:w-4/5 md:h-11/12 md:max-w-3xl"
  size="size-22 "
  margin="md:h-16  "
>
  <Fragment slot="icon"><Background /></Fragment>
  <figure class="">
    {
      ["movil", "desktop"].map((type) => (
        <div
          key={type}
          class:list={[
            "bg",
            {
              "grid grid-cols-3 gap-4 p-4 md:hidden": type === "movil",
              "hidden md:grid grid-cols-2 gap-4 p-4": type === "desktop",
            },
          ]}
        >
          {fondo[type].map((item, index) => (
            <img
              key={index}
              src={item}
              alt={`background${index}`}
              loading="lazy"
              class:list={[
                "w-full",
                {
                  "h-[150px]": type === "movil",
                  "h-auto hover:scale-105 transition duration-500":
                    type === "desktop",
                },
              ]}
            />
          ))}
        </div>
      ))
    }
    <button id="notBg" class="btn btn-outline btn-success mx-3">Fondo por defecto</button>
  </figure>
</Modal>

<script>
  const conteBG = document.querySelectorAll(".bg img");
  const notBg = document.getElementById("notBg");


  conteBG.forEach((item) => {
    item.addEventListener("click", () => {
      const body = document.body;
      body.style.backgroundImage = `url(${item.src})`;

    
    });
  });

  notBg.addEventListener("click", () => {
    const body = document.body;
    body.style.backgroundImage = "none";
  });
</script>
