<div class="">
  <button class="md:w-10 text-base text-white font-normal text-center" id="bg">
    <img class="w-18 h-18 md:w-12 md:h-10" src="/pinterest.svg" alt="" />
   <span class="text-base text-white mix-blend-difference outline-pink-500 mx-auto font-light">
      Pinterest
    </span>
  </button>
</div>

<script>
  import { Notyf } from "notyf";
  const notyf = new Notyf({
    duration: 2000,
    position: {
      x: "center",
      y: "top",
    },
    types: [
      {
        type: "loading",
        background: "#3498db",
        dismissible: false, 
      },
    ],
  });

  const btnCambiarFondo = document.getElementById("bg");
  window.bg = btnCambiarFondo;

  btnCambiarFondo?.addEventListener("click", (e) => {
    const randomNumber = Math.floor(Math.random() * 1001);
    const anchoPantalla = window.innerWidth;
    const altoPantalla = window.innerHeight;
    const url = `https://picsum.photos/${anchoPantalla}/${altoPantalla}?random=${randomNumber}`;
    const body = document.body;
    const viejaImg = body.style.backgroundImage;

    const nuevaImagen = new Image();
    nuevaImagen.src = url;
    notyf.open({
      type: "loading",
      message: `Cargando imagen...`,
      duration: 0, // Se cierra manualmente
    });

    nuevaImagen.onload = () => {
       notyf.dismissAll();
      body.style.backgroundImage = `url(${url})`;
       notyf.success("Nuevo fondo agregado correctamente");
    };

    nuevaImagen.onerror = () => {
      const intentoImagen = new Image();
      intentoImagen.src = url;
      intentoImagen.onload = () => {
         notyf.dismissAll();
        body.style.backgroundImage = `url(${url})`;
         notyf.success("Nuevo fondo agregado tras reintento");
      };
      intentoImagen.onerror = () => {
        body.style.backgroundImage = viejaImg;
        notyf.error(
          "No se pudo cargar el nuevo fondo. Restaurado el anterior."
        );
      };
    };
  });
</script>

<style></style>
