---
import { basics } from "@cv";
import { social_icons } from "../data/IconKeyboard.ts";

const { profiles } = basics;

const pages = ["Mi", "Proyectos", "Tecnología", "Fondos", "Pokedex"];
const pagesTecla = ["M", "P", "T", "B", "X"];

const profileInfo = profiles.map(({ network, url }) => {
  const fistLetter = network[0].toUpperCase();
  const icon = social_icons[network];

  return {
    id: network,
    title: `Visitar ${network}`,
    hotkey: `ctrl+${fistLetter}`,
    section: "Social",
    icon,
    url,
  };
});

const pagesInfo = pages.map((page, index) => {
  const nameIcon = page.toLowerCase();
  const icon = social_icons[nameIcon];

  const pageTitulo = page.replace("_", " ");

  return {
    id: pageTitulo,
    title: `Abrir ${pageTitulo}`,
    hotkey: `ctrl+${pagesTecla[index]}`,
    section: "Paginas",
    icon,
  };
});
---

<section></section>

<picture id="btn-open" class="md:hidden z-1 cursor-pointer">
  <img class="w-auto h-auto" src="/Setting.svg" alt="setting" />
</picture>

<div class="hidden md:block mb-2 text-[10px] px-6 z-1">
  <p class="text-base-content">
    Pulsa <kbd class="kbd text-base-content">Cmd</kbd> + <kbd
      class="kbd text-base-content">K</kbd
    > para abrir la paleta de comandos.
  </p>
</div>

<ninja-keys class="z-10"
  data-info={JSON.stringify(profileInfo)}
  data-pages={JSON.stringify(pagesInfo)}
  placeholder="Buscar comando"
  hideBreadcrumbs
>
</ninja-keys>

<script>
  import "ninja-keys";
  import { social_icons } from "../data/IconKeyboard.ts";
  import { themes } from "../data/Themes";
  const ninja = document.querySelector("ninja-keys");

  const btnOpen = document.querySelector("#btn-open");

  btnOpen?.addEventListener("click", () => {
    var event = new KeyboardEvent("keydown", {
      key: "K",
      code: "KeyK",
      keyCode: 75,
      which: 75,
      ctrlKey: true,
      altKey: false,
      shiftKey: false,
      metaKey: false,
    });
    document.dispatchEvent(event);
  });

  if (ninja !== null) {
    const info = ninja.getAttribute("data-info") ?? "[]";
    const pages = ninja.getAttribute("data-pages") ?? "[]";

    const dataInfo = JSON.parse(info);
    const datapages = JSON.parse(pages);

    const data = dataInfo.map((item: any) => {
      return {
        ...item,
        handler: () => {
          window.open(item.url, "_blank");
        },
      };
    });
    const dataPage = datapages.map((item: any) => {
      return {
        ...item,
        handler: () => {
          window.dispatchEvent(new CustomEvent("open", { detail: item.id }));
          ninja.close();
        },
      };
    });

    ninja.data = [
      {
        id: "CV",
        title: "Descargar Resumen",
        hotkey: "ctrl+R",
        icon: social_icons.pdf,
        section: "Acciones",
        handler: () => {
          window.open("/CV.pdf", "_blank");
        },
      },
      {
        id: "Background",
        title: "Cambiar de Fondo",
        hotkey: "ctrl+F",
        icon: social_icons.switch,
        section: "Acciones",
        handler: () => {
          window.bg.click();
        },
      },
      {
        id: "Theme",
        title: "Cambiar de Tema",
        hotkey: "ctrl+C",
        icon: social_icons.palette,
        section: "Acciones",
        handler: () => {
          const randomNumber = Math.floor(Math.random() * 34);
          document.body.setAttribute("data-theme", themes[randomNumber]);
          localStorage.setItem("theme", themes[randomNumber]);
          const activeTheme = localStorage.getItem("theme");

          document.querySelectorAll("[data-name]").forEach((el) => {
            el.classList.remove("border-4", "rounded-r-sm", "border-red-600");
            const aside = el.querySelector("[data-img-container]");
            if (aside) {
              aside.innerHTML = `<div class="w-6 h-6 bg-white rounded-full"></div>`;
            }
          });

          // Aplica al nuevo ítem
          const item = document.querySelector(`[data-name="${activeTheme}"]`);
          if (!item) return;

          const aside = item.querySelector("[data-img-container]");
          if (!aside) return;

          item.classList.add("border-4", "rounded-r-sm", "border-red-600");
          aside.innerHTML = `<img class="size-10 rounded-box" src="/pokeball.png" />`;
        },
      },
      ...dataPage,
      ...data,
    ];
  }
</script>
